$color-font-main: #333333;
$color-font-second: #ababab;
$color-card-bg: #f8f8fa;
$color-font-hover: #115aad;
$color-font-bg: #e3f0ff;
$color-font-history: #590487;
$color-brand: #7398f5;
$color-border: #d6d6d6;
$color-icons: #cccccc;
$scroll-bar: #f2f2f2;
$color-white: #ffffff;

$breakpoint_md: 1300px;
$breakpoint_ml: 1000px;
$breakpoint_xs: 700px;
